<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="application">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- AngularJS -->
    <script type="text/javascript" src="lib/angular-js/angular.js"></script>
    <script type="text/javascript" src="lib/jQuery/jquery.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">


    <script type="text/javascript" src="js/application.js"></script>

</head>
<body ng-controller="HomePageController">

    <br />
    <div class="container">
        <div class="jumbotron">
            <h1><span class="label label-primary">AngularJS</span> introduction session</h1>
            <br />
            <p>Action handlers and bidirectional bindings.</p>
            <p>Say my name!</p>
            <p><input type="text" ng-model="myName" class="form-control"></p>
            <p>You will say: <span ng-bind="myName"></span></p>
            <button class="btn btn-lg btn-success" ng-click="sayName()">say it...</button>
            <p>{{ response }}</p>
        </div>
    </div>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
