<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="application">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- AngularJS -->
    <script type="text/javascript" src="lib/angular-js/angular.js"></script>
    <script type="text/javascript" src="lib/jQuery/jquery.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">


    <script type="text/javascript" src="js/application.js"></script>

</head>
<body ng-controller="HomePageController">

    <br />
    <div class="container">
        <div class="jumbotron">
            <h1><span class="label label-primary">AngularJS</span> introduction session</h1>
            <br />
            <p>Directives.</p>
            <p>
                Best Java Books:
                <button ng-click="loadBooks()" ng-hide="booksLoaded" class="btn btn-xs btn-danger">Show Best Books</button>
                <div ng-repeat="book in books">
                    <mp-nice-book-title book="book" />
                </div>
            </p>
        </div>
    </div>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
